name: CI

on:
  push:
    branches: [master]
  pull_request:
  release:
    types: [created]

jobs:
  build-phar:
    name: Build PHAR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: 7.4
          coverage: none

      - name: Install dependencies
        uses: ramsey/composer-install@v1

      - name: Download Box
        run: wget https://github.com/box-project/box/releases/latest/download/box.phar

      - name: Update Version
        if: github.event_name == 'release'
        run: sed -i "s/@dev/$TAG/" bin/phpmyadmin
        env:
          TAG: ${{ github.event.release.tag_name }}

      - name: Compile PHAR
        run: php box.phar compile

      - uses: actions/upload-artifact@v1
        name: Upload the PHAR artifact
        with:
          name: phpmyadmin.phar
          path: bin/phpmyadmin.phar

  composer-validate:
    name: Validate composer.json
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: 8.0
          coverage: none

      - name: Validate composer.json
        run: composer validate --strict --no-check-lock

  cs-check:
    name: PHP Coding Standards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: 7.4
          coverage: none
          tools: php-cs-fixer

      - name: Check CS
        run: php-cs-fixer fix --dry-run --diff

  test-phar:
    runs-on: ubuntu-latest
    name: Test PHAR
    needs:
      - build-phar
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: 1234
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/download-artifact@v1
        with:
          name: phpmyadmin.phar
          path: .
      - run: |
          mv phpmyadmin.phar phpmyadmin
          chmod +x phpmyadmin
          ./phpmyadmin init --no-interaction --password=1234
          ./phpmyadmin
          sleep 2
          curl -I http://127.0.0.1:8888
          ./phpmyadmin self-update

  publish-phar:
    runs-on: ubuntu-latest
    name: Publish PHAR
    needs:
      - cs-check
      - composer-validate
      - test-phar
    if: github.event_name == 'release'
    steps:
      - uses: actions/download-artifact@v1
        with:
          name: phpmyadmin.phar
          path: .

      - name: Upload phpmyadmin.phar
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: phpmyadmin.phar
          asset_name: phpmyadmin.phar
          asset_content_type: application/zip
